@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");

* {
    margin: 0px auto;
    padding: 0px;
}


body {
    font-family: "Signika Negative", sans-serif;
    font-weight: 300;
    background: linear-gradient(132deg, #41b1fc, #3a50b2, #24309f);
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.background {
    overflow: hidden;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes svg-text-anim {
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
    60% {
        stroke-dashoffset: 0;
        fill: #ffffff;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #ffffff;
    }
}

@keyframes svg-text-anim {
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
    60% {
        stroke-dashoffset: 0;
        fill: #ffffff;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #ffffff;
    }
}

.animation {
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentOne {
    text-align: center;
    width: 100%;
}

.contentOne h1 {
    font-size: 40px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
    }
}

.contentTwo {
    text-align: center;
}

.startTyper{
    color: white;
    text-align: center;
    font-size: 50px;
    display: inline-block;
}

#typed-cursor{
    opacity: 1;
    font-size: 60px;
    color: white;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.work {
    padding: 20px;
    text-align: center;
}

.work h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    font-size: 50px;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

.project {
    width: 400px;
    background: rgba(255, 255, 255, 0.846);
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    height: 680px;
    margin: 25px;
    padding: 10px;
    transition: box-shadow .3s;
}

.project:hover {
    box-shadow: 0px 0px 15px black;
}

.projectImage {
    width: 90%;
    height: 240px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 15px;
    overflow: hidden;
}

.projectImage img {
    width: 100%;
    height: 100%;
}

.projectTitle {
    margin-top: 10px;
}

.link {
    margin: 10px;
}

.button {
    display: block;
    width: 70%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 35px;
    color: #2e5deb;
    font-weight: bold;
    line-height: 25px;
    border: 2px solid #2e5deb;
    transition: all 0.25s ease;
}

.button:hover {
    color: white;
    background: #2e5deb;
}

.button:active {
    letter-spacing: 2px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.iconSize {
    width: 50px;
    height: 50px;
}

.icon {
    margin: 5px;
    border-radius: 10px;
}

.icon:hover {
    filter: drop-shadow(0 0 0.4rem rgba(0, 0, 0, 0.5));
}

.iconR {
    margin-top: 5px;
    filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.5));
}

.iconR:hover {
    filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.5));
}

.about {
    padding-top: 50px;
    text-align: center;
    height: 800px;
}

.imgContain {
    height: 400px;
    width: 745px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContain img {
    width: 100%;
    height: 100%;
}

.aDetails {
    margin-top: 20px;
    text-align: left;
    color: white;
    width: 40%;
}

.contact {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.cTitle {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.social-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    width: 50%;
}


.social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 70px;
    height: 70px;
    text-decoration: none;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.846);
    text-align: center;
}

.social-button img {
    height: 60%;
    width: 60%;
}

.social-button:hover  {
    box-shadow: 0px 0px 11px black;
}

.social-button img:hover {
    filter: drop-shadow(0 0 0.4rem rgba(0, 0, 0, 0.5));
}

#in {
    height: 110%;
    width: 110%;
}

footer {
    text-align: center;
    color: white;
    padding: 30px;
}

@media screen and (max-width: 400px){
    .animation {
        height: 500px;
    }

    svg {
        width: 90%;
        height: auto;
        margin-left: 20px;
    }

    .contentOne h1 {
        font-size: 19px;
        margin: 20px;
    }

    .startTyper {
        font-size: 16px;
    }

    #typed-cursor {
        font-size: 18px;
    }

    .work h1 {
        font-size: 30px;
    }

    .projects {
        width: 100%;
    }

    .project {
        width: 380px;
        height: 620px;
    }

    .projectImage {
        height: 150px;
    }

    .about {
        padding-top: 70px;
        width: 80%;
        height: 660px;
    }

    .imgContain {
        height: 180px;
        width: 320px;
    }

    .aDetails {
        font-size: 20px;
        width: 95%;
    }

    .contact {
        padding-top: 70px;
    }

    .cTitle {
        font-size: 30px;
    }

    .social-button {
        height: 40px;
        width: 40px;
    }
}