@model Inquiry

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="~/css/Portfolio/_Inquiry.css">
    </head>
    <body>
        <form asp-controller="Portfolio" asp-action="AddInquiry" method="POST">
            <div class="">
                <input asp-for="Name" placeholder="Name">
            </div>
            <div>
                <input asp-for="Email" placeholder="Email">
            </div>
            <div>
                <select asp-for="InquiryType" class="iInput">
                    <option selected>Please Select</option>
                    <option value="Question">Question</option>
                    <option value="Project">Project</option>
                    <option value="Hire">Hire</option>
                </select>
            </div>
            <div>
                <textarea asp-for="Details" rows="5" cols="35" placeholder="Please type here..."></textarea>
            </div>
            <button type="submit" id="button">Submit</button>
        </form>
    </body>
</html>