
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Journey</title>
        <link rel="stylesheet" href="~/css/Portfolio/Portfolio.css">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    </head>
    <body>
        <div>
            <div class="background">
            </div>
            <div class="animation">
                <div>
                    <div id="myobj" width="100%" height="100%">
                        <svg width="800" height="400" viewBox="0 0 959.921 271.606" xmlns="http://www.w3.org/2000/svg">
                            <g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#000" stroke-width="0.25mm" fill="none" style="stroke:#000;stroke-width:0.25mm;fill:none">
                                <path d="M 223.201 60.401 L 223.601 60.401 A 13.454 13.454 0 0 1 235.042 66.17 Q 236.65 68.362 237.827 71.388 A 31.417 31.417 0 0 1 238.201 72.401 Q 242.401 84.401 242.401 102.801 Q 242.401 117.201 240.401 134.401 Q 238.401 151.601 235.401 168.401 Q 232.401 185.201 229.201 199.601 Q 236.001 192.801 243.001 186.601 A 223.869 223.869 0 0 0 247.459 182.551 Q 251.376 178.888 254.001 176.001 Q 271.201 158.401 289.201 139.001 Q 307.201 119.601 321.401 98.801 Q 335.601 78.001 340.401 57.201 A 37.816 37.816 0 0 0 341.262 52.349 Q 341.601 49.401 341.601 46.001 Q 341.601 40.801 340.201 36.401 A 15.315 15.315 0 0 0 338.562 32.824 A 12.058 12.058 0 0 0 335.601 29.601 A 4.87 4.87 0 0 1 335.104 29.226 Q 334.579 28.769 334.446 28.312 A 1.106 1.106 0 0 1 334.401 28.001 A 1.469 1.469 0 0 1 334.947 26.861 Q 335.392 26.47 336.201 26.201 Q 336.972 25.944 337.707 25.944 A 4.185 4.185 0 0 1 339.601 26.401 Q 347.888 30.89 351.853 37.168 A 23.416 23.416 0 0 1 353.001 39.201 A 35.169 35.169 0 0 1 356.619 51.32 A 33.293 33.293 0 0 1 356.801 54.801 Q 356.801 68.401 349.801 82.001 A 241.164 241.164 0 0 1 343.714 93.135 Q 339.826 99.801 336.001 105.201 A 207.788 207.788 0 0 1 320.31 123.833 A 249.249 249.249 0 0 1 311.401 132.801 Q 297.201 146.401 283.001 158.801 A 839.317 839.317 0 0 0 270.435 169.986 Q 264.575 175.315 259.45 180.211 A 502.495 502.495 0 0 0 258.001 181.601 Q 253.713 185.582 247.198 192.729 A 458.7 458.7 0 0 0 243.001 197.401 Q 233.601 208.001 224.401 219.201 L 221.201 232.401 Q 218.801 240.801 214.801 246.001 Q 213.095 247.991 209.773 249.375 A 27.104 27.104 0 0 1 206.801 250.401 A 56.378 56.378 0 0 1 203.496 251.245 Q 200.131 251.989 197.681 252.001 A 16.346 16.346 0 0 1 197.601 252.001 A 9.769 9.769 0 0 1 195.806 251.823 Q 194.931 251.659 193.965 251.344 A 19.668 19.668 0 0 1 193.001 251.001 A 3.956 3.956 0 0 1 191.341 249.855 Q 190.731 249.123 190.517 248.056 A 6.37 6.37 0 0 1 190.401 246.801 A 7.697 7.697 0 0 1 190.674 244.875 Q 191.276 242.563 193.201 239.401 Q 196.001 234.801 199.401 230.001 Q 202.532 225.581 204.136 223.535 A 44.321 44.321 0 0 1 204.401 223.201 A 13.183 13.183 0 0 0 205.382 221.537 Q 207.057 218.245 209.201 211.201 Q 212.001 202.001 215.001 188.801 A 549.549 549.549 0 0 0 218.937 169.895 A 642.087 642.087 0 0 0 220.601 160.801 A 347.133 347.133 0 0 0 223.664 139.711 A 300.53 300.53 0 0 0 224.401 132.401 A 215.544 215.544 0 0 0 224.88 126.154 A 185.818 185.818 0 0 0 225.001 124.001 Q 225.194 120.13 225.2 117.008 A 103.698 103.698 0 0 0 225.201 116.801 A 84.112 84.112 0 0 0 224.715 107.33 Q 222.557 88.401 210.801 88.401 Q 199.19 88.401 177.842 107.125 A 218.041 218.041 0 0 0 176.401 108.401 A 262.505 262.505 0 0 0 159.033 125.594 A 342.444 342.444 0 0 0 145.001 141.801 Q 129.201 161.201 116.401 180.601 Q 103.601 200.001 96.401 214.401 Q 92.401 224.001 89.001 232.201 A 268.854 268.854 0 0 1 85.676 239.894 Q 84.039 243.518 82.451 246.7 A 163.992 163.992 0 0 1 82.401 246.801 Q 80.001 249.601 76.401 251.001 A 21.913 21.913 0 0 1 73.007 252.029 A 16.415 16.415 0 0 1 69.601 252.401 A 13.958 13.958 0 0 1 67.456 252.246 Q 65.682 251.97 64.401 251.201 Q 62.571 250.103 63.419 247.667 A 7.157 7.157 0 0 1 63.601 247.201 Q 72.401 227.201 82.201 203.001 Q 92.001 178.801 99.201 152.601 A 197.893 197.893 0 0 0 106.104 111.48 A 178.801 178.801 0 0 0 106.401 101.201 A 127.835 127.835 0 0 0 104.845 80.84 A 101.554 101.554 0 0 0 101.201 65.601 A 46.135 46.135 0 0 0 97.978 57.903 Q 95.718 53.702 92.752 50.737 A 24.081 24.081 0 0 0 89.201 47.801 A 31.667 31.667 0 0 0 72.73 42.448 A 38.813 38.813 0 0 0 70.801 42.401 A 50.444 50.444 0 0 0 53.211 45.684 A 67.176 67.176 0 0 0 43.201 50.401 Q 29.201 58.401 19.601 70.801 A 49.001 49.001 0 0 0 13.038 81.881 A 38.359 38.359 0 0 0 10.001 96.801 Q 10.001 99.601 10.401 102.401 A 21.796 21.796 0 0 0 11.696 107.257 A 24.735 24.735 0 0 0 12.001 108.001 A 42.206 42.206 0 0 0 18.269 118.302 A 51.918 51.918 0 0 0 21.801 122.201 Q 28.401 128.801 35.401 134.801 Q 42.401 140.801 46.801 146.801 A 38.728 38.728 0 0 1 49.981 151.751 A 29.899 29.899 0 0 1 52.001 156.401 A 31.983 31.983 0 0 1 53.294 161.674 A 25.941 25.941 0 0 1 53.601 165.601 Q 53.601 176.801 46.001 183.601 Q 39.848 189.106 33.434 189.106 A 15.433 15.433 0 0 1 30.401 188.801 A 5.177 5.177 0 0 1 29.67 188.446 Q 28.442 187.713 28.601 186.601 Q 28.791 185.27 30.607 185.566 A 5.452 5.452 0 0 1 30.801 185.601 A 6.029 6.029 0 0 0 32.205 185.816 Q 35.784 185.926 38.801 181.401 Q 42.401 176.001 42.401 168.001 A 33.711 33.711 0 0 0 41.469 160.291 A 43.177 43.177 0 0 0 40.001 155.401 A 32.949 32.949 0 0 0 36.435 148.445 Q 34.539 145.591 31.949 142.776 A 55.062 55.062 0 0 0 31.601 142.401 Q 27.601 137.601 23.201 133.201 Q 18.801 128.801 14.801 124.001 Q 7.869 115.609 4.264 107.717 A 51.799 51.799 0 0 1 3.601 106.201 Q 0.001 97.601 0.001 89.601 Q 0.001 74.001 10.201 61.601 A 70.171 70.171 0 0 1 32.338 43.882 A 82.887 82.887 0 0 1 36.201 42.001 A 77.869 77.869 0 0 1 63.29 34.977 A 74.226 74.226 0 0 1 68.401 34.801 Q 81.201 34.801 93.001 40.001 A 42.467 42.467 0 0 1 109.907 53.596 A 53.1 53.1 0 0 1 112.401 57.201 A 57.858 57.858 0 0 1 118.95 71.696 A 69.69 69.69 0 0 1 120.401 77.401 Q 122.801 88.801 122.801 101.601 A 190.056 190.056 0 0 1 120.995 127.229 A 228.977 228.977 0 0 1 118.801 140.401 Q 114.801 160.801 108.401 180.401 Q 121.201 162.001 136.801 141.201 Q 152.401 120.401 168.801 102.001 A 357.129 357.129 0 0 1 181.763 88.173 Q 190.969 78.888 199.401 72.001 Q 210.989 62.534 219.514 60.793 A 18.426 18.426 0 0 1 223.201 60.401 Z" id="0" vector-effect="non-scaling-stroke"/>
                                <path d="M 368.001 175.601 L 368.401 177.601 L 372.401 177.001 Q 375.151 176.588 377.333 176.27 A 686.876 686.876 0 0 1 379.201 176.001 Q 386.001 175.601 394.001 176.001 Q 402.001 176.401 404.401 179.601 Q 405.182 180.382 404.246 180.782 A 2.122 2.122 0 0 1 404.201 180.801 A 2.981 2.981 0 0 1 403.743 180.944 Q 403.013 181.107 402.401 180.801 A 11.153 11.153 0 0 0 400.284 180.027 Q 397.176 179.201 392.001 179.201 A 94.847 94.847 0 0 0 383.639 179.597 Q 379.564 179.959 375.021 180.651 A 182.025 182.025 0 0 0 369.401 181.601 Q 356.401 184.001 345.601 187.401 Q 337.585 189.924 333.315 192.117 A 21.736 21.736 0 0 0 330.801 193.601 Q 328.044 197.888 325.288 203.934 A 134.957 134.957 0 0 0 323.601 207.801 Q 320.001 216.401 320.001 224.401 A 20.507 20.507 0 0 0 320.923 230.668 A 17.339 17.339 0 0 0 324.201 236.601 A 11.772 11.772 0 0 0 328.659 239.792 Q 332.863 241.601 339.601 241.601 Q 351.601 241.601 361.801 235.601 A 90.745 90.745 0 0 0 379.695 221.714 A 101.397 101.397 0 0 0 380.801 220.601 Q 389.601 211.601 396.401 203.601 Q 397.201 202.801 402.001 197.201 Q 406.801 191.601 412.201 185.001 Q 417.601 178.401 420.001 174.801 L 420.801 175.601 A 3.071 3.071 0 0 1 421.064 176.341 Q 421.318 177.546 420.437 178.752 A 4.93 4.93 0 0 1 420.401 178.801 Q 415.201 185.201 410.001 192.401 Q 404.801 199.601 399.201 206.401 A 235.514 235.514 0 0 1 385.012 222.519 A 265.493 265.493 0 0 1 381.401 226.201 Q 371.601 236.001 360.001 242.401 A 51.889 51.889 0 0 1 337.776 248.688 A 62.418 62.418 0 0 1 334.001 248.801 A 70.641 70.641 0 0 1 333.759 248.8 Q 318.597 248.749 311.952 242.173 A 16.3 16.3 0 0 1 311.401 241.601 A 24.912 24.912 0 0 1 304.931 226.567 A 33.026 33.026 0 0 1 304.801 223.601 Q 304.801 217.201 306.801 210.401 A 94.158 94.158 0 0 1 311.605 197.651 A 103.375 103.375 0 0 1 312.001 196.801 Q 310.25 195.8 309.594 194.487 A 3.722 3.722 0 0 1 309.201 192.801 A 3.6 3.6 0 0 1 310.193 190.42 Q 312.088 188.238 317.601 186.401 A 156.675 156.675 0 0 0 320.026 182.78 Q 322.698 178.68 326.111 173.015 A 520.702 520.702 0 0 0 326.601 172.201 A 260.853 260.853 0 0 1 336.168 157.444 A 292.345 292.345 0 0 1 338.601 154.001 A 105.138 105.138 0 0 1 346.107 144.656 A 82.449 82.449 0 0 1 352.401 138.401 A 32.963 32.963 0 0 1 356.862 135.026 Q 359.484 133.395 362.051 132.644 A 15.422 15.422 0 0 1 366.401 132.001 Q 372.001 132.001 373.601 136.401 A 10.732 10.732 0 0 1 374.718 136.19 Q 375.885 136.027 377.47 136.005 A 36.813 36.813 0 0 1 378.001 136.001 A 16.087 16.087 0 0 1 382.661 136.617 Q 387.784 138.169 389.125 143.634 A 18.368 18.368 0 0 1 389.601 148.001 Q 389.601 157.201 383.201 165.401 A 31.309 31.309 0 0 1 377.257 171.303 A 24.405 24.405 0 0 1 368.001 175.601 Z M 346.801 181.601 A 72.093 72.093 0 0 0 345.155 182.072 Q 341.065 183.293 334.801 185.601 A 37.906 37.906 0 0 1 335.686 183.795 Q 337.829 179.677 342.201 173.201 A 226.035 226.035 0 0 1 342.88 172.201 A 246.97 246.97 0 0 1 354.001 157.201 A 195.097 195.097 0 0 1 355.897 155.002 Q 358.719 151.782 361.397 149.024 A 112.239 112.239 0 0 1 366.801 143.801 A 35.833 35.833 0 0 1 367.363 143.305 Q 371.121 140.062 373.383 140.062 A 2.47 2.47 0 0 1 375.201 140.801 Q 377.601 143.201 377.601 147.201 Q 377.601 149.882 376.709 152.935 A 32.408 32.408 0 0 1 375.201 157.001 Q 372.801 162.401 369.201 166.801 Q 365.201 171.601 361.801 174.201 Q 358.401 176.801 354.801 178.801 A 49.457 49.457 0 0 1 351.497 180.124 A 61.633 61.633 0 0 1 346.801 181.601 Z" id="1" vector-effect="non-scaling-stroke"/>
                                <path d="M 423.713 246.07 A 28.544 28.544 0 0 0 430.401 246.801 Q 436.176 246.801 442.984 244.389 A 65.698 65.698 0 0 0 450.401 241.201 Q 469.201 231.601 482.401 215.001 A 1581.274 1581.274 0 0 0 484.046 212.928 A 1449.223 1449.223 0 0 0 507.601 182.401 Q 508.295 181.706 506.728 181.012 A 8.342 8.342 0 0 0 506.201 180.801 A 27.35 27.35 0 0 0 506.029 180.739 Q 504.001 180.017 504.001 180.401 Q 493.201 195.601 481.001 209.801 Q 468.801 224.001 452.401 234.001 Q 448.001 236.801 443.601 238.601 A 31.475 31.475 0 0 1 442.589 238.995 Q 438.782 240.401 435.601 240.401 A 12.527 12.527 0 0 1 434.335 240.338 A 9.534 9.534 0 0 1 427.401 236.401 Q 424.401 232.401 424.401 222.801 A 112.434 112.434 0 0 1 424.428 220.314 Q 424.579 213.527 425.54 205.975 A 191.216 191.216 0 0 1 428.001 191.401 Q 429.59 183.72 432.348 177.404 A 49.114 49.114 0 0 1 441.201 163.601 A 743.497 743.497 0 0 0 444.518 160.03 Q 449.578 154.55 455.137 148.322 A 1299.675 1299.675 0 0 0 467.201 134.601 Q 481.601 118.001 495.601 99.601 A 369.602 369.602 0 0 0 500.731 92.694 A 328.514 328.514 0 0 0 520.201 62.601 A 174.738 174.738 0 0 0 520.836 61.476 Q 530.91 43.492 534.401 27.201 Q 535.601 22.801 535.601 19.201 A 32.111 32.111 0 0 0 535.57 17.798 Q 535.212 9.613 530.601 5.001 A 16.398 16.398 0 0 0 523.605 0.826 A 20.849 20.849 0 0 0 517.601 0.001 A 24.216 24.216 0 0 0 512.029 0.688 Q 506.204 2.066 499.401 6.201 Q 492.866 10.173 486.578 17.346 A 96.602 96.602 0 0 0 479.601 26.401 A 140.453 140.453 0 0 0 475.25 33.084 Q 470.641 40.588 465.401 50.801 Q 457.601 66.001 449.601 84.201 Q 441.601 102.401 434.201 121.201 Q 426.801 140.001 421.001 156.801 A 428.58 428.58 0 0 0 417.669 166.832 Q 414.326 177.351 412.401 185.601 Q 410.401 194.001 409.001 202.201 Q 407.601 210.401 407.601 217.601 A 58.362 58.362 0 0 0 407.604 218.276 Q 407.663 223.317 408.596 227.685 A 33.456 33.456 0 0 0 412.801 238.401 A 16.926 16.926 0 0 0 423.713 246.07 Z M 438.401 155.601 Q 438.401 157.201 440.801 155.401 A 15.373 15.373 0 0 0 442.079 154.304 Q 444.193 152.314 447.645 148.124 A 173.76 173.76 0 0 0 448.401 147.201 Q 451.015 144.26 457.633 136.381 A 2346.604 2346.604 0 0 0 460.801 132.601 A 600.807 600.807 0 0 0 468.066 123.732 Q 471.246 119.779 474.68 115.396 A 1084.302 1084.302 0 0 0 481.801 106.201 Q 493.601 90.801 504.801 73.801 Q 516.001 56.801 523.201 40.801 A 97.269 97.269 0 0 0 526.639 32.911 Q 529.705 24.847 529.975 18.756 A 26.139 26.139 0 0 0 530.001 17.601 A 15.706 15.706 0 0 0 529.692 14.334 Q 528.664 9.523 524.213 8.895 A 10.12 10.12 0 0 0 522.801 8.801 Q 518.07 8.801 510.912 13.511 A 65.303 65.303 0 0 0 508.201 15.401 A 53.401 53.401 0 0 0 500.517 22.363 Q 497.206 25.964 494.044 30.492 A 101.463 101.463 0 0 0 491.201 34.801 A 283.958 283.958 0 0 0 479.238 55.998 A 351.473 351.473 0 0 0 472.201 70.601 Q 463.201 90.401 455.601 110.201 Q 448.001 130.001 441.201 146.401 A 93.141 93.141 0 0 0 440.11 149.165 Q 438.664 153.022 438.441 154.958 A 5.659 5.659 0 0 0 438.401 155.601 Z" id="2" vector-effect="non-scaling-stroke"/>
                                <path d="M 501.535 246.392 A 41.656 41.656 0 0 0 507.601 246.801 Q 523.601 246.801 537.001 239.801 Q 550.401 232.801 561.601 222.001 Q 572.801 211.201 581.601 200.001 Q 586.001 194.401 590.001 189.201 Q 594.001 184.001 597.601 178.801 Q 598.491 177.317 598.06 176.273 A 2.067 2.067 0 0 0 597.601 175.601 A 2.882 2.882 0 0 0 597.586 175.571 Q 597.193 174.808 596.801 175.201 Q 592.338 181.363 586.972 188.203 A 607.125 607.125 0 0 1 576.801 200.801 Q 565.201 214.801 551.401 224.601 A 60.973 60.973 0 0 1 548.36 226.627 A 49.017 49.017 0 0 1 522.001 234.401 A 30.621 30.621 0 0 1 519.374 234.292 Q 511.426 233.608 507.801 228.601 A 21.421 21.421 0 0 1 504.267 220.537 A 30.389 30.389 0 0 1 503.601 214.001 Q 503.601 208.601 504.993 202.695 A 69.845 69.845 0 0 1 508.001 193.201 A 92.404 92.404 0 0 1 511.746 185.043 A 113.706 113.706 0 0 1 519.001 173.001 Q 526.001 162.801 536.001 155.801 A 44.689 44.689 0 0 1 536.157 155.692 A 36.892 36.892 0 0 1 557.601 148.801 Q 562.001 148.801 566.001 150.001 Q 571.154 151.213 573.091 157.02 A 21.764 21.764 0 0 1 574.001 161.201 A 0.232 0.232 0 0 0 574.039 161.198 Q 574.456 161.128 575.601 159.601 A 5.018 5.018 0 0 0 576.136 158.956 Q 577.068 157.643 578.001 155.001 A 20.153 20.153 0 0 0 578.696 152.536 A 23.38 23.38 0 0 0 579.201 147.601 A 25.725 25.725 0 0 0 579.176 146.454 Q 578.814 138.343 573.197 136.293 A 12.8 12.8 0 0 0 568.801 135.601 Q 567.601 135.601 566.401 135.801 A 25.398 25.398 0 0 0 565.816 135.906 Q 564.826 136.095 563.601 136.401 A 58.874 58.874 0 0 0 556.141 138.537 Q 542.797 143.301 528.601 155.001 Q 510.401 170.001 498.001 189.601 A 101.952 101.952 0 0 0 497.038 191.188 A 111.05 111.05 0 0 0 489.001 207.801 A 60.919 60.919 0 0 0 486.523 215.672 A 46.157 46.157 0 0 0 485.201 226.401 A 27.634 27.634 0 0 0 485.475 230.361 A 20.394 20.394 0 0 0 490.201 241.001 Q 493.872 245.26 501.535 246.392 Z" id="3" vector-effect="non-scaling-stroke"/>
                                <path d="M 587.279 241.114 A 21.014 21.014 0 0 0 602.801 247.601 A 37.127 37.127 0 0 0 605.686 247.489 Q 613.25 246.899 620.815 243.219 A 61.411 61.411 0 0 0 631.601 236.401 Q 643.601 227.201 653.001 212.601 Q 662.401 198.001 667.801 182.001 Q 673.201 166.001 673.201 153.201 Q 673.201 144.693 670.877 138.955 A 17.732 17.732 0 0 0 662.801 129.601 A 19.803 19.803 0 0 0 657.513 127.479 A 24.735 24.735 0 0 0 651.601 126.801 Q 646.001 126.801 640.801 128.801 A 18.444 18.444 0 0 0 637.69 130.329 A 13.293 13.293 0 0 0 633.201 134.801 A 17.316 17.316 0 0 0 632.904 135.261 Q 631.601 137.357 631.601 138.801 A 4.311 4.311 0 0 0 631.616 139.174 Q 631.757 140.801 633.201 140.801 Q 633.601 140.801 636.001 139.201 Q 639.601 136.401 646.401 136.401 Q 650.801 136.401 652.801 138.001 A 13.277 13.277 0 0 1 656.707 142.317 A 18.093 18.093 0 0 1 658.401 146.401 A 39.759 39.759 0 0 1 659.522 151.722 A 50.208 50.208 0 0 1 660.001 158.801 Q 660.001 170.001 656.001 183.801 Q 652.001 197.601 645.201 209.601 A 70.729 70.729 0 0 1 639.158 218.647 A 52.658 52.658 0 0 1 629.201 228.401 A 48.037 48.037 0 0 1 626.589 230.205 Q 623.273 232.332 620.063 233.554 A 23.701 23.701 0 0 1 611.601 235.201 A 19.012 19.012 0 0 1 610.634 235.177 Q 596.388 234.451 596.001 212.001 A 64.751 64.751 0 0 1 596.628 203.094 A 77.622 77.622 0 0 1 599.801 189.601 Q 603.601 178.001 611.001 168.201 A 55.961 55.961 0 0 1 614.114 164.426 A 45.965 45.965 0 0 1 628.401 153.601 Q 631.601 152.001 635.201 152.001 Q 640.401 152.001 643.801 155.801 Q 647.201 159.601 646.401 166.401 A 2.782 2.782 0 0 0 646.401 166.438 Q 646.421 167.996 648.201 167.601 Q 649.129 167.395 649.685 166.869 A 2.55 2.55 0 0 0 650.401 165.601 A 51.006 51.006 0 0 0 650.577 164.873 Q 650.847 163.72 651.001 162.801 A 11.98 11.98 0 0 0 651.053 162.454 Q 651.201 161.375 651.201 160.001 A 16.552 16.552 0 0 0 650.771 156.102 A 10.249 10.249 0 0 0 646.801 150.001 A 16.206 16.206 0 0 0 642.142 147.645 A 18.88 18.88 0 0 0 636.401 146.801 Q 633.601 146.801 630.801 147.601 A 68.899 68.899 0 0 0 628.274 148.377 A 87.657 87.657 0 0 0 624.801 149.601 A 64.748 64.748 0 0 0 616.172 154.323 A 74.218 74.218 0 0 0 602.201 166.201 Q 592.001 177.201 586.001 190.801 A 77.306 77.306 0 0 0 584.115 195.476 A 65.254 65.254 0 0 0 580.001 218.001 A 56.816 56.816 0 0 0 580.454 225.416 Q 581 229.559 582.207 232.902 A 21.979 21.979 0 0 0 586.601 240.401 A 26.294 26.294 0 0 0 587.279 241.114 Z" id="4" vector-effect="non-scaling-stroke"/>
                                <path d="M 750.401 229.201 L 746.001 232.401 A 15.487 15.487 0 0 1 744.187 233.295 Q 743.243 233.681 742.379 233.856 A 6.952 6.952 0 0 1 741.001 234.001 A 3.507 3.507 0 0 1 740.157 233.909 Q 739.056 233.635 738.849 232.548 A 2.925 2.925 0 0 1 738.801 232.001 Q 738.801 229.588 739.596 224.902 A 141.369 141.369 0 0 1 740.201 221.601 Q 741.404 215.413 743.05 207.749 A 1047.597 1047.597 0 0 1 743.601 205.201 Q 745.601 196.001 748.201 187.801 Q 750.743 179.783 753.094 175.015 A 43.765 43.765 0 0 1 753.201 174.801 Q 735.601 188.801 721.801 203.601 Q 708.001 218.401 702.401 237.601 A 2.696 2.696 0 0 1 701.672 238.844 Q 700.904 239.623 699.401 240.201 A 44.685 44.685 0 0 1 696.286 241.263 A 57.556 57.556 0 0 1 693.601 242.001 A 34.385 34.385 0 0 0 690.324 242.641 A 44.396 44.396 0 0 0 687.601 243.401 A 65.188 65.188 0 0 0 683.116 244.978 A 56.464 56.464 0 0 0 681.601 245.601 Q 681.601 244.801 682.401 243.201 L 683.601 240.801 A 30.52 30.52 0 0 0 684.37 239.125 Q 685.238 237.088 686.201 234.201 Q 687.404 230.592 689.64 226.244 A 86.987 86.987 0 0 1 690.401 224.801 A 147.568 147.568 0 0 0 694.387 216.645 A 188.509 188.509 0 0 0 697.401 209.601 Q 699.738 203.826 701.603 199.091 A 753.219 753.219 0 0 0 703.201 195.001 L 705.601 188.801 L 710.401 178.001 Q 711.201 175.201 712.201 172.801 A 22.05 22.05 0 0 0 713.484 168.638 A 20.176 20.176 0 0 0 713.601 168.001 A 11.741 11.741 0 0 0 713.844 166.688 Q 713.937 165.983 713.975 165.168 A 25.306 25.306 0 0 0 714.001 164.001 A 14.454 14.454 0 0 0 713.778 161.386 Q 713.368 159.157 712.201 157.601 A 4.85 4.85 0 0 0 710.319 156.14 Q 708.66 155.367 705.994 155.23 A 23.314 23.314 0 0 0 704.801 155.201 A 22.181 22.181 0 0 0 699.735 155.816 A 30.325 30.325 0 0 0 695.401 157.201 A 233.503 233.503 0 0 0 688.809 159.951 A 198.324 198.324 0 0 0 686.001 161.201 Q 686.307 160.588 686.73 159.507 A 52.397 52.397 0 0 0 687.001 158.801 A 19.631 19.631 0 0 1 687.254 158.158 Q 687.688 157.113 688.001 156.801 Q 690.001 156.001 698.201 152.801 Q 706.401 149.601 713.601 146.801 Q 716.801 145.601 720.201 143.801 Q 723.601 142.001 726.401 140.401 A 5.286 5.286 0 0 1 726.885 139.982 Q 727.762 139.3 729.593 138.236 A 64.809 64.809 0 0 1 730.001 138.001 Q 732.801 136.401 733.601 136.401 L 734.401 136.401 Q 737.87 136.401 737.996 141.603 A 16.496 16.496 0 0 1 738.001 142.001 A 42.721 42.721 0 0 1 737.227 146.102 Q 736.076 151.001 733.601 157.601 Q 730.401 166.401 726.201 174.801 A 786.071 786.071 0 0 0 724.745 177.726 Q 722.08 183.113 721.317 184.917 A 16.126 16.126 0 0 0 721.201 185.201 L 710.001 210.801 Q 726.801 193.601 741.201 177.801 Q 755.601 162.001 768.401 146.801 A 26.608 26.608 0 0 1 775.312 140.759 A 22.868 22.868 0 0 1 787.201 137.601 A 48.392 48.392 0 0 1 789.065 137.639 Q 790.02 137.676 791.081 137.749 A 84.326 84.326 0 0 1 791.801 137.801 Q 793.654 137.943 794.999 138.391 A 7.604 7.604 0 0 1 796.001 138.801 Q 798.001 139.601 797.001 140.601 A 6.091 6.091 0 0 1 795.812 141.536 A 5.166 5.166 0 0 1 794.801 142.001 Q 788.81 143.499 782.468 151.656 A 59.136 59.136 0 0 0 781.601 152.801 Q 774.801 162.001 769.001 174.601 Q 763.201 187.201 759.601 199.401 Q 756.001 211.601 755.201 218.801 Q 755.201 219.07 755.11 219.429 A 5.165 5.165 0 0 1 755.001 219.801 Q 754.813 220.363 754.801 221.102 A 6.252 6.252 0 0 0 754.801 221.201 Q 761.201 213.201 767.601 206.201 Q 774.001 199.201 780.401 192.401 Q 787.601 184.801 795.201 177.801 Q 802.801 170.801 810.401 163.201 A 12.26 12.26 0 0 1 812.768 160.995 A 10.327 10.327 0 0 1 815.001 159.801 Q 817.601 158.801 820.401 158.401 Q 824.001 157.601 827.201 157.001 Q 830.401 156.401 833.201 154.801 A 20.612 20.612 0 0 1 834.161 154.152 Q 836.041 152.963 836.88 153.163 A 0.86 0.86 0 0 1 837.001 153.201 Q 837.85 153.541 837.978 153.881 A 0.34 0.34 0 0 1 838.001 154.001 L 838.001 154.801 Q 838.001 157.201 834.801 160.001 A 32.972 32.972 0 0 0 831.492 163.569 Q 828.337 167.468 825.018 173.409 A 109.986 109.986 0 0 0 824.801 173.801 Q 819.601 183.201 815.401 194.201 Q 811.201 205.201 808.401 214.401 A 175.13 175.13 0 0 0 805.658 225.065 Q 804.43 230.608 803.815 235.442 A 71.373 71.373 0 0 0 803.201 244.401 A 35.543 35.543 0 0 0 803.628 250.182 Q 805.388 260.801 814.401 260.801 A 12.68 12.68 0 0 0 819.416 259.689 Q 823.231 258.052 827.401 254.001 Q 832.76 248.795 836.361 245.23 A 577.09 577.09 0 0 0 838.401 243.201 A 1.275 1.275 0 0 1 838.626 243.219 Q 838.862 243.262 839.001 243.401 A 0.436 0.436 0 0 1 839.03 243.433 Q 839.167 243.601 838.801 243.601 Q 837.719 248.287 828.193 257.845 A 160.338 160.338 0 0 1 826.001 260.001 A 45.546 45.546 0 0 1 818.783 265.923 A 38.594 38.594 0 0 1 814.001 268.601 Q 809.077 270.909 806.047 271.441 A 9.594 9.594 0 0 1 804.401 271.601 A 15.742 15.742 0 0 1 797.036 269.986 Q 788.801 265.695 788.801 250.001 A 80.276 80.276 0 0 1 789.065 243.722 Q 789.306 240.658 789.767 237.236 A 154.348 154.348 0 0 1 790.401 233.001 A 158.524 158.524 0 0 1 791.882 225.229 Q 792.8 220.961 794.023 216.236 A 289.72 289.72 0 0 1 795.601 210.401 Q 796.756 205.395 800.32 195.015 A 466.154 466.154 0 0 1 800.601 194.201 Q 804.401 183.201 807.201 175.601 Q 800.769 180.501 792.931 187.394 A 425.333 425.333 0 0 0 788.001 191.801 Q 777.201 201.601 767.801 211.201 Q 760.053 219.113 755.43 224.309 A 150.497 150.497 0 0 0 753.601 226.401 Q 750.401 230.801 750.401 229.201 Z" id="5" vector-effect="non-scaling-stroke"/>
                                <path d="M 906.801 175.601 L 907.201 177.601 L 911.201 177.001 Q 913.951 176.588 916.133 176.27 A 686.876 686.876 0 0 1 918.001 176.001 Q 924.801 175.601 932.801 176.001 Q 940.801 176.401 943.201 179.601 Q 943.982 180.382 943.046 180.782 A 2.122 2.122 0 0 1 943.001 180.801 A 2.981 2.981 0 0 1 942.543 180.944 Q 941.813 181.107 941.201 180.801 A 11.153 11.153 0 0 0 939.084 180.027 Q 935.976 179.201 930.801 179.201 A 94.847 94.847 0 0 0 922.439 179.597 Q 918.364 179.959 913.821 180.651 A 182.025 182.025 0 0 0 908.201 181.601 Q 895.201 184.001 884.401 187.401 Q 876.385 189.924 872.115 192.117 A 21.736 21.736 0 0 0 869.601 193.601 Q 866.844 197.888 864.088 203.934 A 134.957 134.957 0 0 0 862.401 207.801 Q 858.801 216.401 858.801 224.401 A 20.507 20.507 0 0 0 859.723 230.668 A 17.339 17.339 0 0 0 863.001 236.601 A 11.772 11.772 0 0 0 867.459 239.792 Q 871.663 241.601 878.401 241.601 Q 890.401 241.601 900.601 235.601 A 90.745 90.745 0 0 0 918.495 221.714 A 101.397 101.397 0 0 0 919.601 220.601 Q 928.401 211.601 935.201 203.601 Q 936.001 202.801 940.801 197.201 Q 945.601 191.601 951.001 185.001 Q 956.401 178.401 958.801 174.801 L 959.601 175.601 A 3.071 3.071 0 0 1 959.864 176.341 Q 960.118 177.546 959.237 178.752 A 4.93 4.93 0 0 1 959.201 178.801 Q 954.001 185.201 948.801 192.401 Q 943.601 199.601 938.001 206.401 A 235.514 235.514 0 0 1 923.812 222.519 A 265.493 265.493 0 0 1 920.201 226.201 Q 910.401 236.001 898.801 242.401 A 51.889 51.889 0 0 1 876.576 248.688 A 62.418 62.418 0 0 1 872.801 248.801 A 70.641 70.641 0 0 1 872.559 248.8 Q 857.397 248.749 850.752 242.173 A 16.3 16.3 0 0 1 850.201 241.601 A 24.912 24.912 0 0 1 843.731 226.567 A 33.026 33.026 0 0 1 843.601 223.601 Q 843.601 217.201 845.601 210.401 A 94.158 94.158 0 0 1 850.405 197.651 A 103.375 103.375 0 0 1 850.801 196.801 Q 849.05 195.8 848.394 194.487 A 3.722 3.722 0 0 1 848.001 192.801 A 3.6 3.6 0 0 1 848.993 190.42 Q 850.888 188.238 856.401 186.401 A 156.675 156.675 0 0 0 858.826 182.78 Q 861.498 178.68 864.911 173.015 A 520.702 520.702 0 0 0 865.401 172.201 A 260.853 260.853 0 0 1 874.968 157.444 A 292.345 292.345 0 0 1 877.401 154.001 A 105.138 105.138 0 0 1 884.907 144.656 A 82.449 82.449 0 0 1 891.201 138.401 A 32.963 32.963 0 0 1 895.662 135.026 Q 898.284 133.395 900.851 132.644 A 15.422 15.422 0 0 1 905.201 132.001 Q 910.801 132.001 912.401 136.401 A 10.732 10.732 0 0 1 913.518 136.19 Q 914.685 136.027 916.27 136.005 A 36.813 36.813 0 0 1 916.801 136.001 A 16.087 16.087 0 0 1 921.461 136.617 Q 926.584 138.169 927.925 143.634 A 18.368 18.368 0 0 1 928.401 148.001 Q 928.401 157.201 922.001 165.401 A 31.309 31.309 0 0 1 916.057 171.303 A 24.405 24.405 0 0 1 906.801 175.601 Z M 885.601 181.601 A 72.093 72.093 0 0 0 883.955 182.072 Q 879.865 183.293 873.601 185.601 A 37.906 37.906 0 0 1 874.486 183.795 Q 876.629 179.677 881.001 173.201 A 226.035 226.035 0 0 1 881.68 172.201 A 246.97 246.97 0 0 1 892.801 157.201 A 195.097 195.097 0 0 1 894.697 155.002 Q 897.519 151.782 900.197 149.024 A 112.239 112.239 0 0 1 905.601 143.801 A 35.833 35.833 0 0 1 906.163 143.305 Q 909.921 140.062 912.183 140.062 A 2.47 2.47 0 0 1 914.001 140.801 Q 916.401 143.201 916.401 147.201 Q 916.401 149.882 915.509 152.935 A 32.408 32.408 0 0 1 914.001 157.001 Q 911.601 162.401 908.001 166.801 Q 904.001 171.601 900.601 174.201 Q 897.201 176.801 893.601 178.801 A 49.457 49.457 0 0 1 890.297 180.124 A 61.633 61.633 0 0 1 885.601 181.601 Z" id="6" vector-effect="non-scaling-stroke"/>
                            </g>
                        </svg>
                    </div>
                    <div class="contentOne">
                        <h1>Where ideas become reality!</h1>
                    </div>
                    <div class="contentTwo">
                        <div class="startTyper"></div>
                    </div>
                </div>
            </div>
            <div class="work">
                <h1>Projects</h1>
                <div class="projects">
                    <div class="project">
                        <div class="projectImage">
                            <img src="~/images/MyBank.png" alt="project">
                        </div>
                        <h2 class="projectTitle">MyBank</h2>
                        <div class="link">
                            <a href="http://35.87.143.193/" target="_blank" class="button">Visit Website!</a>
                        </div>
                        <div class="link">
                            <a href="https://github.com/JonathanJCisneros/MyBank" class="button" target="_blank">Github Repo</a>
                        </div>
                        <div>
                            <p>An easy-to-use online bank with both user and administrator sections</p>
                        </div>
                        <h3>Languages</h3>
                        <div class="icons">
                            <div class="icon">
                                <a href="https://www.python.org" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://flask.palletsprojects.com/" target="_blank" rel="noreferrer"> 
                                    <img src="https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg" alt="flask" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://www.mysql.com/" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://www.w3schools.com/html/default.asp" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://getbootstrap.com" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://www.gnu.org/software/bash/" target="_blank" rel="noreferrer"> 
                                    <img src="https://www.vectorlogo.zone/logos/gnu_bash/gnu_bash-icon.svg" alt="bash" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://aws.amazon.com" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" alt="aws" class="iconSize"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="project">
                        <div class="projectImage">
                            <img src="~/images/Share.png" alt="project">
                        </div>
                        <h2 class="projectTitle">Share.</h2>
                        <div class="link">
                            <a href="http://100.21.21.196/" target="_blank" class="button">Visit Website!</a>
                        </div>
                        <div class="link">
                            <a href="https://github.com/JonathanJCisneros/share" target="_blank" class="button">Github Repo</a>
                        </div>
                        <div>
                            <p>A social platform dedicated to improving mental health</p>
                        </div>
                        <h3>Languages</h3>
                        <div class="icons">
                            <div class="icon">
                                <a href="https://www.mongodb.com/" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://expressjs.com" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg" alt="express" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="iconR">
                                <a href="https://reactjs.org/" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" class="iconSize"/>
                                </a>
                            </div>
                            <div class="iconR">
                                <a href="https://nodejs.org" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" alt="nodejs" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://socket.io/" target="_blank" rel="noreferrer"> 
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Socket-io.svg" alt="Socket.io" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://git-scm.com/" target="_blank" rel="noreferrer"> 
                                    <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://getbootstrap.com" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://postman.com" target="_blank" rel="noreferrer"> 
                                    <img src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="Postman API" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://www.gnu.org/software/bash/" target="_blank" rel="noreferrer"> 
                                    <img src="https://www.vectorlogo.zone/logos/gnu_bash/gnu_bash-icon.svg" alt="bash" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://aws.amazon.com" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" alt="aws" class="iconSize"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="project">
                        <div class="projectImage">
                            <img src="" alt="project">
                        </div>
                        <h2 class="projectTitle">MyCRM</h2>
                        <div class="link">
                            <a href="#" target="_blank" class="button">Visit Website!</a>
                        </div>
                        <div class="link">
                            <a href="https://github.com/JonathanJCisneros/MyCRM" target="_blank" class="button">Github Repo</a>
                        </div>
                        <div>
                            <p>A User-Friendly CRM (Customer Relationship Management) with product presentation section</p>
                        </div>
                        <h3>Languages</h3>
                        <div class="icons">
                            <div class="icon">
                                <a href="https://www.w3schools.com/cs/" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg" alt="csharp" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://dotnet.microsoft.com/" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/dot-net/dot-net-original-wordmark.svg" alt="dotnet" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://www.mysql.com/" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://getbootstrap.com" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://www.gnu.org/software/bash/" target="_blank" rel="noreferrer"> 
                                    <img src="https://www.vectorlogo.zone/logos/gnu_bash/gnu_bash-icon.svg" alt="bash" class="iconSize"/> 
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://aws.amazon.com" target="_blank" rel="noreferrer"> 
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" alt="aws" class="iconSize"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about">
                <h1 class="cTitle">About Me</h1>
                <div class="imgContain">
                    <img src="~/images/FremontSunrise.jpg" alt="Sunrise">
                </div>
                
                <h2 class="aDetails">My name is Jonathan Cisneros, I am a Full-Stack Developer located in Seattle, WA. I have a background in Sales and Account Management from my days as a National Account Executive.</h2>
                <h2 class="aDetails">I love being creative and solving problems, which is why becoming a Software Developer was so natural for me &#128513;. I have become absolutely obsessed with software and how it makes our lives easier with day-to-day tasks in both consumer and commercial environments. If you have any questions or concerns, please feel free to reach out below.</h2>
            </div>
            <div class="contact">
                <div>
                    <h1 class="cTitle">Contact</h1>
                    <partial name="_Inquiry"></partial>
                </div>
            </div>
            <div class="social-buttons">
                <a href="https://www.facebook.com/jonathan.cisneros.101" target="_blank" class="social-button" aria-label="Facebook">
                    <img src="~/images/facebook.png" alt="Facebook">
                </a>
                <a href="https://www.linkedin.com/in/jonathanjcisneros" target="_blank" class="social-button" aria-label="LinkedIn">
                    <img src="~/images/linkedin.png" alt="LinkedIn" id="in">
                </a>
                <a href="https://www.instagram.com/jonathancisneros_" target="_blank" class="social-button" aria-label="Instagram">
                    <img src="~/images/instagram.png" alt="Instagram">
                </a>
                <a href="https://github.com/JonathanJCisneros" target="_blank" class="social-button" aria-label="GitHub">
                    <img src="~/images/github.png" alt="GitHub" id="in">
                </a>
            </div>
            <footer> <small>&copy; @DateTime.Now.ToString("yyyy"), Jonathan Cisneros. All Rights Reserved</small> </footer> 
        </div>
    </body>
    <script type="text/javascript" src="~/js/portfolio.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/compressed.js"></script>
    <script>
        function setTextAnimation(delay, duration, strokeWidth, timingFunction, strokeColor,repeat) {
            let paths = document.querySelectorAll("path");
            let mode=repeat?'infinite':'forwards'
            for (let i = 0; i < paths.length; i++) {
                const path = paths[i];
                const length = path.getTotalLength();
                path.style["stroke-dashoffset"] = `${length}px`;
                path.style["stroke-dasharray"] = `${length}px`;
                path.style["stroke-width"] = `${strokeWidth}px`;
                path.style["stroke"] = `${strokeColor}`;
                path.style["animation"] = `${duration}s svg-text-anim ${mode} ${timingFunction}`;
                path.style["animation-delay"] = `${i * delay}s`;
            }
        }
        setTextAnimation(0.1,2.7,4,'linear','#ffffff',false);
        
        $(function() {
            $(".startTyper").typed({
            strings: ["Hi, my name is Jonathan", "I am a Software Developer","I am also a business enthusiast", "Best part, I am a hiking nut :-)", "Let me know if I can be helpful", "Have a great one!"],
            typeSpeed: 50,
            loop: true,
            loopCount: false,
            });
        });
    </script>
</html>